@model Home
@using Umbraco.Cms.Web.Common.PublishedModels;

@using Umbraco.Extensions


@{

    var socialLinks = Model.SocialMediaLinks.Select(block => block.Content.SafeCast<SocialMediaLink>()).ToList();

}

<div class="site-footer">
    <div class="content-container">
            <div class="footer-logo-container">
                <div class="footer-logo-title">Living Stream</div>
                <div class="footer-logo-site">www.living-stream.com</div>
            </div>
        <div class="social-media-container">
            @await Html.PartialAsync("_NavigationLinks")
            @foreach (var socialLink in socialLinks)
            {
                var image = socialLink.Value<IPublishedContent>("icon");

                <a class="social-link" href="@socialLink.Url">
                    <img src="" alt="@socialLink.SocialName" class="social-icon" />
                    <span class="social-text">@socialLink.SocialName</span>
                </a>
            }
        </div>
        <div class="site-copyright">&copy; Copyright - @Model.Copyrights @DateTime.UtcNow.Year</div>
    </div>
</div>