@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Web.Common.PublishedModels;

@section Head {
    <link rel="stylesheet" href="@Url.Content("~/css/landing-page.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/landing-page/text-section.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/landing-page/image-section.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/landing-page/columns-section.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/mobile/landing-page.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/mobile/landing-page/text-section.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/mobile/landing-page/image-section.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/mobile/landing-page/columns-section.css")" />
}

@{
    Layout = "_Layout.cshtml";
    var homePage = Model.Root().Children();
    var homeContent = Model.Children<HomePageContent>().FirstOrDefault();
}

<div>Landing page</div>
<div>
    @foreach (var item in homePage)
    {
        <a href="@item.Url()">@item.Name</a>
    }
</div>

@functions {
    string GetSectionTemplate(IPublishedContent section)
    {
        var path = "Landing Page";
        return $"{path}";
    }
}

@{
    Layout = "_Layout";
    ViewBag.OnHomePage = true;

    if (homeContent is null) return;

    var sections = new List<IPublishedContent>();

    sections = sections.OrderBy(section => section.SortOrder).ToList();
}

@foreach (var section in sections)
{
    @await Html.PartialAsync(GetSectionTemplate(section), section)
}